body {
  background-color: rgb(230, 230, 230);
  color: rgb(28, 28, 28);
  width: 10rem;
  margin: 2rem auto;
}

.display {
  font-family: monospace;
  background-color: rgb(243, 234, 216);
  font-size: 2rem;
  text-align: end;
  width: inherit;
  height: 3rem;
  padding: 0.25rem 1rem;
  border: 2px solid black;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  width: inherit;
  flex-wrap: wrap;
}

button {
  box-sizing: border-box;
  width: calc(100% / 3);
  height: 2rem;
  font-family: monospace;
  border: 1px solid gray;
  border-radius: 0;
}
