body {
  background-color: rgb(230, 230, 230);
  color: rgb(28, 28, 28);
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 30rem;
  height: 80vh;
}

.display {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-family: monospace;
  color: lightgreen;
  background-color: rgb(39, 39, 39);
  padding: 1rem;
  border: 2px solid black;
  box-sizing: border-box;
}

.display .history {
  font-size: 1rem;
  text-align: left;
}

.display .current {
  text-align: end;
  font-size: 5rem;
}

.buttons {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

.number-buttons {
  display: flex;
  flex-wrap: wrap;
}

.operator-buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  font-size: 3rem;
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);
  color: white;
  font-family: monospace;
  padding: 0;
  border: 0.5px solid orange;
  border-radius: 0;
  margin: 0;
}

.number-buttons button {
  width: calc(100% / 3);
}
.operator-buttons button {
  width: calc(100% / 2);
}
