$window-border-dark-tone: #0065cd;
$window-border-medium-tone: #0465ff;
$window-border-light-tone: #2a8aff;
$app-bgc: #e7e9d2;
$danger: #c13e0d;

body {
  font-family: sans-serif;
  margin: 0;
  padding-top: 1rem;
  height: calc(100vh - 1rem);
  background: center / cover no-repeat url("../images/win-xp-wallpaper.webp");

  button {
    font-size: 1rem;
    border-radius: 4px;
    font-family: inherit;
  }

  .window {
    background-color: $app-bgc;
    border: 3px solid $window-border-dark-tone;
    border-radius: 0.5rem 0.5rem 0 0;
    margin: 0 auto;
    max-width: 250px;

    .window-header {
      background: linear-gradient(
        $window-border-light-tone 0%,
        $window-border-dark-tone 20%,
        $window-border-medium-tone 100%
      );
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0.25rem 0.25rem 0 0;
      padding: 0.2rem;

      .title-wrap {
        display: flex;
        gap: 0.2rem;

        h1 {
          font-size: 1rem;
          margin: 0;
        }
      }

      .window-controls button {
        $size: 1.5rem;
        width: $size;
        height: $size;
        border: 2px solid white;
        padding: 0;
        color: white;
        font-weight: bold;
      }

      .minimize,
      .maximize {
        background-color: $window-border-dark-tone;
      }

      .close {
        background-color: $danger;
      }
    }

    .window-content {
      padding: 0.5rem;

      .display {
        background-color: white;
        border: 1px solid grey;
        padding: 0.25rem 0.5rem 0.5rem 0.5rem;
        height: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .expression {
          color: grey;
          font-size: 0.5rem;

          .result {
            display: none;

            &.active {
              display: inline;
            }
          }
        }

        .current-number {
          text-align: right;
        }
      }

      .calc-btns {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(7, auto);
        grid-template-rows: repeat(5, 1fr);
        align-items: stretch;
        justify-items: stretch;

        button {
          background: linear-gradient(#fff 0%, #fbfbfb 20%, #ebebeb 100%);
          border: 1px solid black;
          height: 2rem;
          &:hover {
            background: #fff;
          }
          &:active {
            background: #ebebeb;
          }
          &:disabled {
            background: #ebebeb;
          }
        }

        $buttons-gap: 0.25rem;

        .clear-btns,
        .operations-btns,
        .memory-btns,
        .numbers-btns {
          display: grid;
          gap: $buttons-gap;
        }

        .clear-btns {
          grid-template-columns: auto repeat(3, 1fr);
          grid-column: 1 / -1;
          grid-row: 1 / 2;

          .empty-square {
            $size: 1.5rem;
            width: $size;
            height: $size;
            margin-left: $buttons-gap;
            border-top: 4px solid gray;
            border-right: 4px solid white;
            border-bottom: 4px solid white;
            border-left: 4px solid gray;
          }
        }

        .memory-btns {
          grid-template-columns: 1fr;
          grid-column: 1;
          grid-row: 2 / 6;
          margin-right: $buttons-gap;
        }

        .numbers-btns {
          grid-template-columns: repeat(3, 1fr);
          grid-column: 2 / 6;
          grid-row: 2 / 6;
          margin-right: $buttons-gap;
        }

        .operations-btns {
          grid-template-columns: repeat(2, 1fr);
          grid-column: 6 / 8;
          grid-row: 2 / 6;
        }
      }
    }
  }
}
