body {
  background: center/cover no-repeat url("../images/win-xp-wallpaper.webp");
  position: relative;
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  cursor: default;
}
body button {
  font-size: 1rem;
  border-radius: 4px;
  font-family: inherit;
}
body .window {
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
  background-color: #e7e9d2;
  border: 3px solid #0065cd;
  border-radius: 0.5rem 0.5rem 0 0;
  max-width: 250px;
}
body .window .window-header {
  background: linear-gradient(#2a8aff 0%, #0065cd 20%, #0465ff 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.2rem;
}
body .window .window-header .title-wrap {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
body .window .window-header .title-wrap .calculator-icon {
  height: 1rem;
}
body .window .window-header .title-wrap h1 {
  font-size: 1rem;
  margin: 0;
}
body .window .window-header .window-controls img {
  width: 1.25rem;
  height: 1.25rem;
  border: 1.5px solid white;
  border-radius: 0.25rem;
  padding: 0;
}
body .window .window-content {
  padding: 0.5rem;
}
body .window .window-content .display {
  background-color: white;
  border: 1px solid grey;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .window .window-content .display .expression {
  color: grey;
  font-size: 0.5rem;
}
body .window .window-content .display .expression .result {
  display: none;
}
body .window .window-content .display .expression .result.active {
  display: inline;
}
body .window .window-content .display .current-number {
  text-align: right;
}
body .window .window-content .calc-btns {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(5, 1fr);
  align-items: stretch;
  justify-items: stretch;
}
body .window .window-content .calc-btns button {
  background: linear-gradient(#fff 0%, #fbfbfb 20%, #ebebeb 100%);
  border: 1px solid black;
  height: 2rem;
}
body .window .window-content .calc-btns button:hover {
  background: #fff;
}
body .window .window-content .calc-btns button:active {
  background: #ebebeb;
}
body .window .window-content .calc-btns button:disabled {
  background: #ebebeb;
}
body .window .window-content .calc-btns .clear-btns,
body .window .window-content .calc-btns .operations-btns,
body .window .window-content .calc-btns .memory-btns,
body .window .window-content .calc-btns .numbers-btns {
  display: grid;
  gap: 0.25rem;
}
body .window .window-content .calc-btns .clear-btns {
  grid-template-columns: auto repeat(3, 1fr);
  grid-column: 1/-1;
  grid-row: 1/2;
}
body .window .window-content .calc-btns .clear-btns .empty-square {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.25rem;
  border-top: 4px solid gray;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-left: 4px solid gray;
}
body .window .window-content .calc-btns .memory-btns {
  grid-template-columns: 1fr;
  grid-column: 1;
  grid-row: 2/6;
  margin-right: 0.25rem;
}
body .window .window-content .calc-btns .numbers-btns {
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2/6;
  grid-row: 2/6;
  margin-right: 0.25rem;
}
body .window .window-content .calc-btns .operations-btns {
  grid-template-columns: repeat(2, 1fr);
  grid-column: 6/8;
  grid-row: 2/6;
}
body .taskbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(#2a8aff 0%, #0065cd 20%, #0465ff 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
body .taskbar .buttons {
  display: flex;
}
body .taskbar .buttons .start-menu {
  background: linear-gradient(#8ccc8c 0%, #399939 20%, #247024 100%);
  padding: 0.25rem 0.75rem 0.25rem 0.25rem;
  border-radius: 0 0.75rem 0.75rem 0;
  font-style: italic;
  font-weight: bold;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
body .taskbar .buttons .start-menu img {
  height: 1rem;
}
body .taskbar .buttons .window-button {
  background-color: rgba(255, 255, 255, 0.2392156863);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0.1rem;
  padding: 0 1rem;
  border-radius: 0.25rem;
}
body .taskbar .buttons .window-button img {
  height: 1rem;
  margin-right: 0.2rem;
}
body .taskbar .clock {
  background-color: rgba(255, 255, 255, 0.2392156863);
  padding: 0.25rem 1rem;
}

/*# sourceMappingURL=styles.css.map */
