$window-border-dark-tone: #0065cd;
$window-border-medium-tone: #0465ff;
$window-border-light-tone: #2a8aff;
$window-border-background: linear-gradient(
  $window-border-light-tone 0%,
  $window-border-dark-tone 20%,
  $window-border-medium-tone 100%
);

body {
  background: center / cover no-repeat url("../images/win-xp-wallpaper.webp");
  position: relative;
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  cursor: default;

  button {
    font-size: 1rem;
    border-radius: 4px;
    font-family: inherit;
  }

  .window {
    position: absolute;

    background-color: #e7e9d2;
    border: 3px solid $window-border-dark-tone;
    border-radius: 0.5rem 0.5rem 0 0;
    width: 250px;

    &.hidden {
      display: none;
    }

    .window-header {
      background: $window-border-background;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0.25rem 0.25rem 0 0;
      padding: 0.2rem;

      .title-wrap {
        display: flex;
        gap: 0.25rem;
        align-items: center;

        $title-size: 1rem;

        .window-icon {
          height: $title-size;
        }

        h1 {
          font-size: $title-size;
          margin: 0;
        }
      }

      .window-controls img {
        $size: 1.25rem;
        width: $size;
        height: $size;
        border: 1.5px solid white;
        border-radius: 0.25rem;
        padding: 0;
      }
    }

    .window-content {
      padding: 0.5rem;

      .display {
        background-color: white;
        border: 1px solid grey;
        padding: 0.25rem 0.5rem 0.5rem 0.5rem;
        height: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .expression {
          color: grey;
          font-size: 0.5rem;

          .result {
            display: none;

            &.active {
              display: inline;
            }
          }
        }

        .current-number {
          text-align: right;
        }
      }

      .calc-btns {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(7, auto);
        grid-template-rows: repeat(5, 1fr);
        align-items: stretch;
        justify-items: stretch;

        button {
          background: linear-gradient(#fff 0%, #fbfbfb 20%, #ebebeb 100%);
          border: 1px solid black;
          height: 2rem;
          &:hover {
            background: #fff;
          }
          &:active {
            background: #ebebeb;
          }
          &:disabled {
            background: #ebebeb;
          }
        }

        $buttons-gap: 0.25rem;

        .clear-btns,
        .operations-btns,
        .memory-btns,
        .numbers-btns {
          display: grid;
          gap: $buttons-gap;
        }

        .clear-btns {
          grid-template-columns: auto repeat(3, 1fr);
          grid-column: 1 / -1;
          grid-row: 1 / 2;

          .empty-square {
            $size: 1.5rem;
            width: $size;
            height: $size;
            margin-left: $buttons-gap;
            border-top: 4px solid gray;
            border-right: 4px solid white;
            border-bottom: 4px solid white;
            border-left: 4px solid gray;
          }
        }

        .memory-btns {
          grid-template-columns: 1fr;
          grid-column: 1;
          grid-row: 2 / 6;
          margin-right: $buttons-gap;
        }

        .numbers-btns {
          grid-template-columns: repeat(3, 1fr);
          grid-column: 2 / 6;
          grid-row: 2 / 6;
          margin-right: $buttons-gap;
        }

        .operations-btns {
          grid-template-columns: repeat(2, 1fr);
          grid-column: 6 / 8;
          grid-row: 2 / 6;
        }
      }
    }
  }

  .calculator {
    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
  }

  .about {
    left: 3rem;
    bottom: 4rem;

    p {
      margin: 0;
    }

    .window-content {
      padding: 1rem 2rem;
    }
  }

  .taskbar {
    position: absolute;
    bottom: 0;
    width: 100%;

    background: $window-border-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .buttons {
      display: flex;

      .start-menu {
        background: linear-gradient(#8ccc8c 0%, #399939 20%, #247024 100%);
        padding: 0.25rem 0.75rem 0.25rem 0.25rem;
        border-radius: 0 0.75rem 0.75rem 0;
        font-style: italic;
        font-weight: bold;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;

        img {
          height: 1rem;
        }
      }

      .window-button {
        background-color: #ffffff3d;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px 0.1rem;
        padding: 0 1rem;
        border-radius: 0.25rem;

        &:hover {
          background-color: #ffffff53;
        }

        img {
          height: 1rem;
          margin-right: 0.2rem;
        }
      }
    }

    .clock {
      background-color: #ffffff3d;
      padding: 0.25rem 1rem;
    }
  }
}
