body {
  font-family: sans-serif;
  margin: 0;
  padding-top: 1rem;
  height: calc(100vh - 1rem);
  background: center/cover no-repeat url("../images/win-xp-wallpaper.webp");
}
body button {
  font-size: 1rem;
  border-radius: 4px;
  font-family: inherit;
}
body .window {
  background-color: #e7e9d2;
  border: 3px solid #0065cd;
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 0 auto;
  max-width: 250px;
}
body .window .window-header {
  background: linear-gradient(#2a8aff 0%, #0065cd 20%, #0465ff 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.2rem;
}
body .window .window-header .title-wrap {
  display: flex;
  gap: 0.2rem;
}
body .window .window-header .title-wrap h1 {
  font-size: 1rem;
  margin: 0;
}
body .window .window-header .window-controls button {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid white;
  padding: 0;
  color: white;
  font-weight: bold;
}
body .window .window-header .minimize,
body .window .window-header .maximize {
  background-color: #0065cd;
}
body .window .window-header .close {
  background-color: #c13e0d;
}
body .window .window-content {
  padding: 0.5rem;
}
body .window .window-content .display {
  background-color: white;
  border: 1px solid grey;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .window .window-content .display .expression {
  color: grey;
  font-size: 0.5rem;
}
body .window .window-content .display .expression .result {
  display: none;
}
body .window .window-content .display .expression .result.active {
  display: inline;
}
body .window .window-content .display .current-number {
  text-align: right;
}
body .window .window-content .calc-btns {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(5, 1fr);
  align-items: stretch;
  justify-items: stretch;
}
body .window .window-content .calc-btns button {
  background: linear-gradient(#fff 0%, #fbfbfb 20%, #ebebeb 100%);
  border: 1px solid black;
  height: 2rem;
}
body .window .window-content .calc-btns button:hover {
  background: #fff;
}
body .window .window-content .calc-btns button:active {
  background: #ebebeb;
}
body .window .window-content .calc-btns button:disabled {
  background: #ebebeb;
}
body .window .window-content .calc-btns .clear-btns,
body .window .window-content .calc-btns .operations-btns,
body .window .window-content .calc-btns .memory-btns,
body .window .window-content .calc-btns .numbers-btns {
  display: grid;
  gap: 0.25rem;
}
body .window .window-content .calc-btns .clear-btns {
  grid-template-columns: auto repeat(3, 1fr);
  grid-column: 1/-1;
  grid-row: 1/2;
}
body .window .window-content .calc-btns .clear-btns .empty-square {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.25rem;
  border-top: 4px solid gray;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-left: 4px solid gray;
}
body .window .window-content .calc-btns .memory-btns {
  grid-template-columns: 1fr;
  grid-column: 1;
  grid-row: 2/6;
  margin-right: 0.25rem;
}
body .window .window-content .calc-btns .numbers-btns {
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2/6;
  grid-row: 2/6;
  margin-right: 0.25rem;
}
body .window .window-content .calc-btns .operations-btns {
  grid-template-columns: repeat(2, 1fr);
  grid-column: 6/8;
  grid-row: 2/6;
}

/*# sourceMappingURL=styles.css.map */
